body {
    text-align: center;
}

h1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    padding: 1em;
    height: 10em;
    width: auto;
    cursor: pointer;
}

button:hover {
    background: lightgray;
}