@font-face {
    font-family: CarnivaleeFreakshow;
    src: url(fonts/CarnivaleeFreakshow-DLrm.ttf);
}

body {
    text-align: center;
    background-color: black;
    background-image: url(http://www.seekgif.com/uploads/2017/05/pin-slide-background-on-pinterest-22.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}

#title { 
    margin: 0;
    padding-bottom: 30px;
    font-size: 13em;
    font-family: CarnivaleeFreakshow;
}

#user-pick, #browser-pick, #result {
    font-family: CarnivaleeFreakshow;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

img {
    padding: 3em;
    height: 13em;
    width: auto;
    cursor: pointer;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.5);
}