@font-face {
    font-family: CarnivaleeFreakshow;
    src: url(fonts/CarnivaleeFreakshow-DLrm.ttf);
}

@font-face {
    font-family: BloodType;
    src: url(fonts/BLOODY.TTF);
}
body {
    text-align: center;
    background-color: black;
    background-image: url(http://www.seekgif.com/uploads/2017/05/pin-slide-background-on-pinterest-22.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: auto; */
}

#title { 
    margin: 0;
    padding-bottom: 30px;
    font-size: 11.5vw;
    font-family: CarnivaleeFreakshow;
}

#user-pick, #browser-pick, #result {
    font-family: CarnivaleeFreakshow;
    font-size: 4vw;
    padding: 0;
    margin: 0;
}

img {
    padding: 2vw;
    height: 12vw;
    width: auto;
    cursor: pointer;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.5);
}